<header>
	<h1>Secret Note-Taking Diary</h1>
</header>
<div id="section">
	<div id="login_section">
		<form name="login_form" method="post" >
			<br />
    	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<p class="id_pw"><%= f.email_field :email, placeholder: "ID", autofocus: true %></p><br />
			<p class="id_pw"><%= f.password_field :password, placeholder: "Password", autocomplete: "off" %></p>
			<br />
			  <% if devise_mapping.rememberable? -%>
	            <%= f.check_box :remember_me %>
	            <%= f.label :remember_me %>
	          <% end -%>
			  <br />
			  <%= f.submit "Log in", class: "btn-info"%>
		  
			  <a id="signup" class="btn-info" href ="/users/sign_up">Sign up</a>
		    <% end %>
		</form>    
	</div>
</div>
<footer>
</footer>